<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Students</title>

    <link rel="stylesheet"
          href="/css/style.css">

</head>

<body>

<header class="navbar">

    <div class="logo">
        Student Management
    </div>

    <nav>

        <a href="/">
            Home
        </a>

        <a href="/students">
            Students
        </a>
        <a href="/logout">
            Logout
        </a>

    </nav>

</header>


<main class="container">

    <h1>Students</h1>

    <a href="/students/new"
       class="secondary-button">

        Add Student

    </a>


    <table>

        <thead>

        <tr>

            <th>ID</th>

            <th>First Name</th>

            <th>Last Name</th>

            <th>Email</th>

            <th>Phone</th>

            <th>Course</th>

            <th>Actions</th>

        </tr>

        </thead>


        <tbody>

        <tr th:each="student : ${students}">

            <td th:text="${student.id}">
                1
            </td>

            <td th:text="${student.firstName}">
                Rasoul
            </td>

            <td th:text="${student.lastName}">
                Omari
            </td>

            <td th:text="${student.email}">
                rasoul.omari@example.com
            </td>

            <td th:text="${student.phone}">
                0657707046
            </td>

            <td th:text="${student.course}">
                CSDFE
            </td>

            <td>

                <a class="edit"
                    th:href="@{/students/edit/{id}(id=${student.id})}">
                    Edit
                </a>

                <a th:href="@{/students/delete/{id}(id=${student.id})}"
                   onclick="return confirm('Delete this student?')">

                    Delete

                </a>


            </td>

        </tr>

        </tbody>

    </table>

</main>


<footer>

    <p>
        &copy; 2026 Student Management System
    </p>

</footer>

</body>

</html>